# Python basics

In [1]:
#integer
a=10
print(10)
print(type(a))

10
<class 'int'>

In [1]:
#Float
a=10.20
print(a)
print(type(a))

10.2
<class 'float'>

In [2]:
#bool
a=True
b=False
print(a)
print(type(a))

True
<class 'bool'>

In [3]:
#String 
a="Hello world"
print(a)
print(type(a))

Hello world
<class 'str'>

In [4]:
#list
list=[1,2,44,5,3,5]
print(list)
type(list)

[1, 2, 44, 5, 3, 5]

list

In [5]:
#dictionary
a={"A":2,"B":4,"C":5,"D":8,"E":10}
print(a)
print(type(a))

{'A': 2, 'B': 4, 'C': 5, 'D': 8, 'E': 10}
<class 'dict'>

In [6]:
#Tuples
a=(1,2,5,3)
print(a)
type(a)

(1, 2, 5, 3)

tuple

In [7]:
#Decision making
#if statement
a=10
b=20
if b>a:
    print("True")

True

In [8]:
#if else

a=20
b=10
if a>b:
    print("A is big")
else:
    print("B is big")

A is big

In [9]:
#elif

a=20
b=30
c=40
if a>b:
    print("B is big")
elif c>b and c>a:
    print("C is big")
else:
    print("A is big")

C is big

In [11]:
#Loops 
#While loop 
count = 0
while (count < 9):
    print('The count is:', count)
    count= count + 1

print("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [12]:
#for loop
for letter in 'Python':     # First Example
    print('Current Letter :', letter)

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
    print('Current fruit :', fruit)

print("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!

In [13]:
#Accessing Values in Strings
var1 = 'Hello World!'
var2 = "Python Programming"

print("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

var1[0]:  H
var2[1:5]:  ytho

In [14]:
#Update a string 
var1 = 'Hello World!'
print("Updated String :- ", var1[:6] + 'Python')

Updated String :-  Hello Python

In [15]:
#Accessing Values in Lists
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [17]:
#Updating Lists
list = ['physics', 'chemistry', 1997, 2000];
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001;
print("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [19]:
#Delete List Elements
list1 = ['physics', 'chemistry', 1997, 2000];
print(list1)
del list1[2];
print ("After deleting value at index 2 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [22]:
#Accessing value of tuple 
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [24]:
#Updating Tuples

tup1 = (12, 34.56);
tup2 = ('abc', 'xyz')


tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [26]:
#Deleting a tuple

tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup;
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

In [27]:
#Accessing Values in Dictionary

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [28]:
#Updating Dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School" # Add new entry

print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

In [30]:
#Deleting a dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name'
dict.clear()     # remove all entries in dict
del dict       # delete entire dictionary

print("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  dict['Age']
dict['School']:  dict['School']

In [35]:
#Functions

def printme():
    return "Hello world!"
#calling the function
printme()

'Hello world!'

In [36]:
#Function with double argument
def add(a,b):
    return a+b
add(2,4)

6

In [34]:
# Function with multiple arguments
def printinfo( name, age ):
    print("Name: ", name)
    print("Age ", age)

# Now you can call printinfo function
printinfo( age=50, name="miki" )

Name:  miki
Age  50

# Python Advance

In [46]:
#Lambda functions

x = lambda a : a + 10
print(x(5))

15

In [48]:
#Lambda function using multiple arguments
x = lambda a, b : a * b
print(x(5, 6))

30

In [49]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [50]:
#Creating a class named MyClass, with a property named x

class MyClass:
  x = 5

In [51]:
#Create an object 
p1 = MyClass()
print(p1.x)

5

In [52]:
#Create a class named Person, use the __init__() function to assign values for name and age
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [53]:
#Defining method
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [54]:
#Python iterators

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [55]:
#Loop through iterators
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [56]:
#Creating an iterator
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3

In [57]:
#Python Json 

import json

In [58]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [59]:
#Convert from python object to json 

import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [60]:
#Json in different datatypes
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [61]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [62]:
#Python regex
import re

In [63]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

In [65]:
#Do a search to match object
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [66]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [ ]:
#The sub() function replaces the matches with the text of your choice:

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

In [ ]:
#EXception handling

In [69]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [71]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

<re.Match object; span=(3, 4), match=' '>
The 'try except' is finished

In [72]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

In [73]:
#Raise exception
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [74]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed